@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/assets/atkinsonhyperlegible-regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/assets/atkinsonhyperlegible-bold.ttf");
  font-weight: bold;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;

  font-family: 'Atkinson Hyperlegible', sans-serif;
}

*, *::after, *::before {
  box-sizing: inherit;
}

#root {
  height: 100%;
}

fieldset {
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}